.ta-r{
	text-align: right;
}

.ta-l{
	text-align: left;
}

.ta-c{
	text-align: center;
}

.m0{
	margin: 0;
}

.mt0{
	margin-top: 0;
}

.mt20{
	margin-top: 20px;
}

.mt10{
	margin-top: 10px;
}

.mb5{
	margin-bottom: 5px;
}

.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}

.p20{
	padding: 20px;
}

.p15{
	padding: 15px;
}
.pb15{
    padding-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}

.mb40{
	margin-bottom: 40px;
}
.ml5{
	margin-left: 5px;
}
.ml20{
	margin-left: 20px;
}

.ml15{
	margin-left: 15px;
}

.ml20{
	margin-left: 20px;
}

.mr15{
	margin-right: 15px;
}

.mr10{
	margin-right: 10px;
}



.dis-flex{
	display: flex;	
}

.ai-c{
	align-items: center;	
}


.cl-white{
	color: $white;
}

.cl-grey{
	color: $grey;
}

.ai-c{
	display: flex;
	align-items: center;
}

.jc-fe{
	display: flex;
	justify-content: flex-end;
}
.jc-c{
	display: flex;
	justify-content: center;
}

.jc-sb{
	display: flex;
	justify-content: space-between;
}


.font18{
	text-indent: 2em;
	font-size: 18px;
}
.pos-rel{
	position: relative;
}
.dn{
	display: none;
}