<div class="inner-section">
	<div class="form-wrapper">
		<div>
			<div class="login-form">
				<h1>Register</h1>	
				<div class="login-container">
					<form (ngSubmit)="sign()">
						<div>
							<input (keydown.enter)="sign()" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" class="inp form-field">
							<input (keydown.enter)="sign()" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" class="inp form-field">
						</div>
						<button type="submit" class="login-btn">Sign</button>
						<div class="form-link">
							<p>Already has an account?</p>
							<a routerLink="/login">Sign in</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>