<div class="auth-wrapper">
	<div class="auth">
		<div class="auth-title">Sign up</div>
		<form class="auth-form" (ngSubmit)="sign()">
			<div class="waw-input mb15">
				<span>Email:</span>
				<input (keydown.enter)="sign()" type="text" placeholder="Email" name="email" [(ngModel)]="user.email">
			</div>
			<div class="waw-input mb15">
				<span>Password:</span>
				<input (keydown.enter)="sign()" type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
			</div>
			<div class="auth-form__btn"><button class="waw-btn _primary" type="submit">Sign</button></div>
		</form>
		<div class="auth-link">
			<p>Already has an account?</p>
			<a routerLink="/login">Sign in</a>
		</div>
	</div>
</div>




