.tag{
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
	color: $white;
	span{
		margin-right: 10px;	
	}
	i{
		font-size: 18px;
		cursor: pointer;
		transition: 0.5s;
		color: $white;
		&:hover{
			transform: rotate(180deg);
			color: $white;
		}	
	}
	padding: 5px 10px;
	border-radius: 10px;
	background: $sky;
	border: 1px solid $sky;
	
}
