@import 'scss/util/index';
@import 'scss/vendor/index';
@import 'scss/atom/index';
@import 'scss/block/index';
@import 'scss/layout/index';
@import 'scss/page/index';
@import 'scss/waw/index';

button,
input,
optgroup,
select,
textarea {
	font-family: 'Roboto', sans-serif;
}
a {
	cursor: pointer;
}