// CHECKBOX
.waw-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  height: 25px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // hidden toggle input
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  &:hover input ~ .checkmark {
    border: 1.5px solid $c-primary-1;
  }
  input:checked ~ .checkmark {
    background-color: $c-primary-1;
    border: none;
    transition: 0.2s ease-in-out;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid $c-border;
    transition: 0.2s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
