// SWITCH
.waw-switch-wrap {
  display: flex;
  align-items: center;
}
.waw-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider {
    background-color: $c-primary-1;
    border: 1px solid $c-primary-1;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $c-border-hover;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: #fff;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid $c-border;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 5px;
      bottom: 5px;
      background-color: $c-border;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  &-text {
    margin-left: 10px;
  }
  .round {
    border-radius: 34px;
  }
  .round:before {
    border-radius: 50%;
  }
}
