
/* Color Palletes */
$white: #fff;
$blue: cornflowerblue;
$red: indianred;
$green: mediumaquamarine;
$purple: mediumpurple;
$silver: silver;
$gray: gray;
$black: #34495e;
$pure-black: #222;
$navbar-bg: $red;
