<div class="auth-wrapper">
	<div class="auth">
		<div class="auth-title">Log In</div>
		<form class="auth-form" (ngSubmit)="login()">
			<div class="waw-input mb15">
				<span>Email:</span>
				<input (keydown.enter)="login()" type="text" placeholder="Email" name="email" [(ngModel)]="user.email">
			</div>
			<div class="waw-input mb15">
				<span>Password:</span>
				<input (keydown.enter)="login()" type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
			</div>
			<div class="auth-form__btn"><button class="waw-btn _primary" type="submit">Login</button></div>
		</form>
		
		<div class="auth-link">
			<a routerLink="/reset">Forgot password?</a>
			<a routerLink="/sign">Don't have an account?</a>
		</div>
	</div>
</div>