// INPUT
.waw-input {
    position: relative;

    span {
		font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 10px;
        display: inline-block;
    }

    // input body settings
    input {
        font-size: 14px;
        padding: 10px 20px;
        display: block;
        width: 100%;
        border: 1px solid $grey;
        border-radius: 15px;
        color: $blue;
        letter-spacing: 0.2px;
        font-size: 16px;
        background-color: $white;
        transition: .3s all ease-in-out;

        &::placeholder {
            color: $grey;
			transition: .1s all ease-in-out;
        }

        &:focus {
            transition: .1s all ease-in-out;
            border-color: $sky;
            color: $sky;
        }

    }

    &._disabled {
        input {
            border-color: $grey;
            color: $grey;
            cursor: not-allowed;
        }

        span {
            color: $grey;
        }
    }

}