.waw-list {
  // list body settings
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  
  // list photo container
  &__img {
    img {
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  // list text container
  &__text {
    padding-left: 16px;
  }

  // list title container
  &__title {
    color: rgba(0,0,0,.87);
    line-height: 20px;
    font-weight: bold;
  }
  
  // list subtitle container
  &__subtitle {
    color: #99abb4;
  }
  // list title and subtitle style
  &__subtitle,
  &__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
  }
}
