.page-config{
	height: calc(100vh - 50px);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 0 20px;	
	
	@include bp-max(sm) {
		overflow-y: auto;
	}
}
.id-project{
	display: flex;
	align-items: center;
	span{
		background:$grey;
		border-radius: 10px;
		color: $blue;
		padding: 10px 30px;
		
		letter-spacing: 1px;
	}
	i{
		color: $blue;
		margin-right: 15px;
		cursor: pointer;
		&:hover{
			color: $sky;
		}
	}

}
