.page-wrapper {
	overflow-y: auto !important;
}
.page-flex {
	display: flex!important;
	height: calc(100vh - 50px);
	.pages-left-column {
		border-bottom: 1px solid #e5e5e5;
	}
	.pages-right-column {
		width: 100%;
		margin-right: auto;
    	margin-left: auto;
    	padding: 0 16px;
    	display: flex;
    	justify-content: center;
    	.page-title-container {
    		display: flex;
    	}
	}
}
.page-title {
	margin: 16px 0;
    font-size: 1.65em;
}
.form-title {
	margin: 0 0 10px;
}
.list-page{
	padding: 20px 40px;
	overflow-x: hidden;
	overflow-y: auto;
}
.newpage-container {
	padding: 16px;
	background-color: #fafafa;
}
.pages-container {
	display: flex;
}
.project-name {
	flex-grow: 1;
	margin-right: 20px;
}
.label-inp {
	display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 14px;
}
.form-field {
	width: 100%;
	display: block;
	padding: .5em;
	margin: 0;
	font-size: 14px;
	background-color: #FAFBFC;
	border: 1px solid #DFE1E6;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	height: 44px;
	-webkit-transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
	transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
}
.descript-field {
	flex-grow: 1;
	// textarea::placeholder {
	// 	padding-top: 6px;
	// }
	textarea {
		padding-top: 13px;
	}
}
.pages-form{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	// &>*{
	// 	margin: 0 10px 0 0;
	// }
}
.form-btn {
	margin-left: auto;
	align-self: flex-end;
}
.create-btn {
	border-radius: .3em;
	font-weight: bold;
	padding: .6em 1.3em;
	margin: 0 0 4px 0;
	background-color: #255692;
	color: #fff;
	border: none;
    cursor: pointer;
    &:hover {
    	background-color: #3669a7;
    }
}
.accept-btn {
	background-color: white;
	border: 1px solid #e5e5e5;
	color: black;
	&:hover {
		border: 1px solid transparent;
		color: white;
	}
}
.pages-card{
	display: flex;
	width: 100%;
	flex-grow: 1;
	padding: 16px;
	background: #FFFFFF;
	border-bottom: 1px solid #e5e5e5;
	img{
		margin-right: 15px;
		width: 44px;
		height: 44px;
		object-fit: cover;
	}
	&_text{
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		a, span>*{
			flex-wrap: wrap;
		}
		.jc-sb i{
			font-size: 16px;
		}
		.jc-sb span {
			font-weight: bold;
		}
		.link-container {
			font-size: 14px;
			display: flex;
    		justify-content: space-between;
    		margin-top: 4px;
		}
	}
}
.role-container {
	display: flex;
	justify-content: space-between;
	padding: 60px 0 0 40px;
	.text-row {
		flex-grow: 1;
		padding-top: 10px;
	}
}
.role-container-inner {
	width: 100%;
	.pages-form {
		margin-bottom: 16px;
	}
}
.role-container-inner .pages-form:last-child {
	margin-bottom: 0;
}
.text-row span {
	padding-right: 5px;
}
.header-background {
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    height: 56px;
    // background: #f9f9f9; 
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.table-striped {
	border-collapse: collapse;
    border-spacing: 0;
	word-break: break-all; 
	overflow-x: hidden; 
	overflow-y: auto; 
	margin-bottom: 0; 
	margin-top: -10px; 
	.table-row {
	   	border-bottom: 1px solid #e5e5e5;
	   	padding: 16px 0;
	   	&:last-child {
	   		border-bottom: 0;
	   	}
	   	td {
	   		padding: 16px 5px;
	   	}
   }
}

.table-striped thead {
    display: table-header-group;
}

.table-striped tbody {
    display: table-row-group; 
}

.fixed-table-container {
    position: relative; 
    padding-top: 56px; 
    height: calc(100% - 148px);
}

.headerItem {
    padding: 5px; 
    border-bottom: 0;
}

.th-inner {
    position: absolute; 
    top: 0; 
    height: 56px;
    padding-top: 18px;
}

.fixed-table-container-inner {
    overflow-x: hidden; 
    overflow-y: auto; 
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
// .setproject-container {
// 	height: 60px;
// 	cursor: pointer;
// 	&:hover {
// 		background-color: rgba(0,0,0,0.04);
// 	}
// }
.setproject-container {
	cursor: pointer;
}
.input-block {
	// margin-top: 20px;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	border-radius: 4px 4px 0 0;
	padding: 10px 16px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	input {
		width: 250px;
		padding: 7px 24px 7px 7px;
		height: 34px;
	}
	i {
		position: absolute;
		right: 22px;
		top: 15px;
		color: #cccccc;
		cursor: auto;
	}
}
.bottomrow-btn {
	display: flex;
	button {
		width: 185px;
	}
}
.bottomrow-btn button:first-child {
	margin-right: 10px;
}
.bottomrow-btn button:last-child {
	margin-left: 10px;
}