<div class="page-wrapper">
  	<div class="page-flex">
		<div class="pages-right-column">
			<!-- Users Column -->
			<div class="column-wrapper">
				<div class="page-title-container">
					<h1 class="page-title">Users list</h1>
				</div>
				<div class="input-block">
					<input class="form-field" type="text" [(ngModel)]="search" name="search" placeholder="Search user by name">
					<i class="material-icons">search</i>
				</div>
				<div class="fixed-table-container">
					<div class="header-background"></div>
					<div class="fixed-table-container-inner">
						<table class="table table-striped table-condensed scroll">
							<thead>
								<tr>
									<th class="headerItem" style="width: 60px;"><div class="th-inner">Avatar</div></th>
									<th class="headerItem" style="min-width: 200px;"><div class="th-inner">Name</div></th>
									<th class="headerItem" style="min-width: 60px;"><div class="th-inner">Email</div></th>
									<th class="headerItem" style="min-width: 80px;" *ngFor="let role of us.data.roles; let i = index;"><div class="th-inner">{{role}}</div></th>
									<th class="headerItem" style="width: 60px;"><div class="th-inner">Delete</div></th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-row" style="height: 50px;" *ngFor="let user of us.users|search:search:'name email'">
									<td><img [src]="user.avatarUrl" alt="" height="50" width="50"></td>
									<td>{{user.name}}</td>
									<td>{{user.email}}</td>
									<td style="text-align: center;" *ngFor="let role of us.data.roles; let i = index;">
										<!-- label should cover all space it can cover under this td tab -->
										<label>
											<input type="checkbox" [(ngModel)]="user.is[role]" (ngModelChange)="us.save(user);" name="role name">
										</label>
									</td>
									<td style="text-align: center;">	
										<i class="material-icons" (click)="us.delete(user);">delete</i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="column-wrapper" style="width: 430px;">
				<!-- Supportive Forms Column -->
				<div class="role-container">
					<form (ngSubmit)="create_role();" class="pages-form pages-container">
						<div class="form-group project-name">
							<label>
								<h4 class="form-title">Add user role</h4>
							</label>						
							<input type="text" [(ngModel)]="new_role" name="new role" placeholder="Name" class="form-field">
						</div>
						<div class="form-btn">
							<button class="create-btn" type="submit" [disabled]="!new_role">Create</button>
						</div>
					</form>
				</div>
				<div class="role-container">
					<div class="role-container-inner">
						<div class="pages-form pages-container" *ngFor="let role of us.data.roles; let i = index;">
							<div class="form-group project-name">
								<input type="text" [(ngModel)]="us.data.roles[i]" (ngModelChange)="us.update();" name="role name" class="form-field">
							</div>
							<div class="form-btn">
								<button class="create-btn accept-btn" (click)="us.data.roles.splice(i, 1); us.update();">Delete</button>
							</div>
						</div>
					</div>
				</div>
				<div class="role-container">
					<form (ngSubmit)="us.create(new_user); new_user={}" class="pages-form pages-container">
						<div class="form-group project-name">
							<label>
								<h4 class="form-title">Add new user</h4>
							</label>						
							<input type="email" [(ngModel)]="new_user.email" name="new user email" placeholder="Email" class="form-field">
						</div>
						<div class="form-btn">
							<button class="create-btn" type="submit" [disabled]="!new_user.email">Create</button>
						</div>
					</form>
				</div>
				<div class="role-container">
					<div class="bottomrow-btn">
						<button class="create-btn accept-btn" (click)="generate();">Generate 100 Users</button>
						<button class="create-btn accept-btn" (click)="delete();">Delete generated Users</button>
					</div>
				</div>
				<!-- <div>
					<form (ngSubmit)="create_role();">
						<label>
							<h4>New Role</h4>
							<input type="text" [(ngModel)]="new_role" name="new role" placeholder="Name">
						</label>
						<button type="submit" [disabled]="!new_role">Create</button>
					</form>
					<div *ngFor="let role of us.data.roles; let i = index;">
						<input type="text" [(ngModel)]="us.data.roles[i]" (ngModelChange)="us.update();" name="role name">
						<button (click)="us.data.roles.splice(i, 1); us.update();">Delete</button>
					</div>
					<form (ngSubmit)="us.create(new_user); new_user={}">
						<label>
							<h4>New User</h4>
							<input type="email" [(ngModel)]="new_user.email" name="new user email" placeholder="Email">
						</label>
						<input type="text" [(ngModel)]="new_user.name" name="new user name" placeholder="Name">
						<button type="submit" [disabled]="!new_user.email">Create</button>
					</form>
					<button (click)="generate();">Generate 100 Users</button>
					<button (click)="delete();">Delete generated Users</button>
				</div> -->
			</div>
		</div>
	</div>
</div>