<div class="page-wrapper">
  	<div class="page-flex">
		<div class="pages-right-column">
			<!-- Users Column -->
			<div>
				<input type="text" [(ngModel)]="search" name="search">
				<div *ngFor="let user of us.users|search:search:'name email'">
					<img [src]="user.avatarUrl" alt="" height="50" width="50">
					<span>{{user.name}} {{user.email}}</span>
					<label *ngFor="let role of us.data.roles; let i = index;">
						<h4>{{role}}</h4>
						<input type="checkbox" [(ngModel)]="user.is[role]" (ngModelChange)="us.save(user);" name="role name">
					</label>
					<button (click)="us.delete(user);">Delete</button>
				</div>
			</div>
			<!-- Supportive Forms Column -->
			<div>
				<form (ngSubmit)="create_role();">
					<label>
						<h4>New Role</h4>
						<input type="text" [(ngModel)]="new_role" name="new role" placeholder="Name">
					</label>
					<button type="submit" [disabled]="!new_role">Create</button>
				</form>
				<div *ngFor="let role of us.data.roles; let i = index;">
					<input type="text" [(ngModel)]="us.data.roles[i]" (ngModelChange)="us.update();" name="role name">
					<button (click)="us.data.roles.splice(i, 1); us.update();">Delete</button>
				</div>
				<form (ngSubmit)="us.create(new_user); new_user={}">
					<label>
						<h4>New User</h4>
						<input type="email" [(ngModel)]="new_user.email" name="new user email" placeholder="Email">
					</label>
					<input type="text" [(ngModel)]="new_user.name" name="new user name" placeholder="Name">
					<button type="submit" [disabled]="!new_user.email">Create</button>
				</form>
				<button (click)="generate();">Generate 100 Users</button>
				<button (click)="delete();">Delete generated Users</button>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="page-title-container">
	<h1 class="page-title">Add new user</h1>
</div>
<div class="pages-left-column">
	<div class="project-sidebar top-0 px-3 px-md-4 px-lg-4 overflow-auto">
		<div class="newpage-container">
			<div class="role-container" style="margin-bottom: 10px;">
				<div class="text-row">
					<span>user.name</span> <span>want to be a</span> <span>request.holder</span>
				</div>
				<div class="form-btn">
					<button class="create-btn accept-btn">Accept</button>
				</div>
			</div>
			<form class="pages-form pages-container">
				<div class="form-group project-name">
					<input type="text" placeholder="Reason to reject" class="form-field">
				</div>
				<div class="form-btn">
					<button class="create-btn">Reject</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="page-title-container">
	<h1 class="page-title">Remove user</h1>
</div>
<div class="pages-left-column">
	<div class="project-sidebar top-0 px-3 px-md-4 px-lg-4 overflow-auto">
		<div class="newpage-container">
			<div class="role-container">
				<div class="text-row">
					<span>user.name</span> <span>is -</span> <span>role.holder</span>
				</div>
				<div class="form-btn">
					<button class="create-btn">Remove</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-title-container">
	<h1 class="page-title">Add user role</h1>
</div>
<div class="pages-left-column">
	<div class="project-sidebar top-0 px-3 px-md-4 px-lg-4 overflow-auto">
		<div class="newpage-container">
			<div style="margin-bottom: 10px;">user.name</div>
			<form class="pages-form pages-container">
				<div class="form-group project-name">
					<input type="text" name="is" placeholder="Custom is" class="form-field">
				</div>
				<div class="form-btn">
					<button class="create-btn">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>
-->