<div class="topbar">
	<div class="menu-topbar">	
		<div class="topleft-container">
			<div class="topbar-title">
				<a routerLink="/projects">
					<img class="logo-img" src="/assets/logo.png" alt="">
				</a>
				<!-- <a routerLink="/projects" *ngIf="ps.project">{{ps._projects[ps.project]?.name}}</a> -->
			</div>
			<!-- <div class="topbar-title" *ngIf="ps.project">
				<a routerLink="/project/{{ps.project}}/tasks" title="Tasks">
					<i class="material-icons">assignment</i>
				</a>
			</div>
			<div class="topbar-title" *ngIf="ps.project">
				<a routerLink="/project/{{ps.project}}/timelogs" title="Timelogs">
					<i class="material-icons">update</i>
				</a>
			</div>
			<div class="topbar-title" *ngIf="ps.project">
				<a routerLink="/project/{{ps.project}}/translate" title="Timelogs">
					<i class="material-icons">translate</i>
				</a>
			</div>
			<div class="topbar-title" *ngIf="ps.project">
				<a routerLink="/project/{{ps.project}}/settings" title="Settings">
					<i class="material-icons">settings</i>
				</a>
			</div> -->
		</div>
		<div class="topright-container">
			<div class="topbar-title">
				<a routerLink="/teams">Teems</a>
			</div>
			<div class="topbar-title">
				<a routerLink="/users">Users</a>
			</div>
			<div class="topbar-title">
				<a routerLink="/pagefly">Page Fly</a>
			</div>
			<div class="topbar-title">
				<a routerLink="/texts">Texts</a>
			</div>
			<div class="topbar-title profile-title">
				<a routerLink="/profile">
					<img class="profile-img" alt="" src="/assets/avatar.png">
				</a>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
<!-- <div>
	<a routerLink="/users" *ngIf="us.is?.admin">Users</a>
	<a routerLink="/profile">Profile</a>
</div>
<router-outlet></router-outlet> -->