<div class="page-wrapper">
  	<div class="page-flex">
		<div class="pages-right-column">
			<div class="column-wrapper">
				<div class="page-title-container">
					<h1 class="page-title">Profile</h1>
				</div>
				<div class="profile-block row">
					<div class="col-12 profile-info">
						<div class="jc-sb">
							<label>
								<img width="50" height="50" [src]="us.avatarUrl" alt="">
								<input type="file" name="file" (change)="us.changeAvatar($event)" [hidden]="true" accept="image/*">
							</label>
							<div>
								<button class="logout-btn" (click)="us.logout();">Logout</button>
								<!-- <i class="material-icons ml5" (click)="us.logout();">meeting_room</i> -->
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-xs-12">
									<label class="label-inp" for="project_name"><span>Name</span></label>
									<input class="input" type="text" name="name" placeholder="Your name" [(ngModel)]="us.name" (ngModelChange)="us.update();" class="form-control form-field">
								</div>
								<div class="col-xs-12">
									<label class="label-inp" for="project_name"><span>Phone number</span></label>
									<input class="input" type="tel" name="number" placeholder="Phone number" [(ngModel)]="us.data.phone" (ngModelChange)="us.update();" class="form-control form-field">
								</div>
								<div class="col-xs-12">
									<label class="label-inp" for="project_name"><span>Location</span></label>
									<input class="input" type="text" name="location" placeholder="Your location" [(ngModel)]="us.data.location" (ngModelChange)="us.update();" class="form-control form-field">
								</div>
								<div class="col-xs-12">
									<label class="label-inp" for="project_name"><span>Bio</span></label>
									<textarea class="input" type="text" name="description" placeholder="Your bio" [(ngModel)]="us.data.description" (ngModelChange)="us.update();" rows="5" cols="45" class="form-control form-field">
									</textarea>
									<span>{{us.email}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


