$yellow: #E5E55C;
$lemon: #F4F4B4;
$coral: #FFADAD;
$blue: #2E4F7C;
$sky: #3498DB;
$green: #5AE00A;
$white: #fff;
$black: #000;
$grey: #ECF0F1;
$dark: #7F8C8D;




$ff-base: 'Roboto', sans-serif;
$ff-second: 'Josefin Sans', sans-serif;

